@model WebApi.Models.User
<div class="login-container">
    <p class="h1 text-center mt-3 mb-4 pb-3">
        로그인
    </p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-content">
                <form method="post" asp-controller="User" asp-action="Login">
                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label">사용자 ID</label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="ID를 입력하십시오" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-sm-2 col-form-label">비밀번호</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="사용자 비밀번호를 입력하십시오" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="alert-danger">
                        @Html.ValidationMessage("Login")
                    </div>

                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
