@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">환영합니다</h1>
    <p>회원 가입 하시고 TodoList를 사용해보세요 <a asp-area="" asp-controller="User" asp-action="Register">회원가입</a></p>
    <p>이미계정이 있으신가요? <a asp-area="" asp-controller="User" asp-action="Login">로그인</a></p>
</div>
