html {
  font-size: 14px;
}

::placeholder {
    font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  ::placeholder {
      font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html{
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    padding-top: 10px;
}

.todo-button{
    margin-left:20px;
    min-width:120px;
}
#todo-card {
    height: 700px;
}

